<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta codigoSecreto="1615216584">
	<link rel="stylesheet" type="text/css"  href="css/estilo.css" />
</head>
<body background="imagens/matrix.jpg" id="fundo">
	<div>
    	<nav id="menu">
    		<ul>
				<li><a class="active" href="/ ">Inicio</a></li>
				
				<li><a class="active" href="/Public/noticias.html">Canais de notícias</a></li>
				
	  			<li><a class="active" href="/adicionarPessoa.html">Adicionar pessoa</a></li>
				<li><a class="active" href="/listarPessoas.html">Listar pessoas</a></li>
				
				<li><a class="active" href="/Public/sobre.html">Sobre o site</a></li>
				<li><a class="active" href="/Public/contato.html">Mande um e-mail</a></li>
    		</ul>
		</nav>
	</div>

	<div id="formulario">

		<form class="cadastro" method="post">
			<h2>Cadastre se</h2><br><br>

				Nome completo *:
			<input type="text" name="nome" placeholder="seu nome completo"><br><br>
				Data de nascimento *:
			<input type="d" name="data" placeholder="dd/mm/aa"><br><br>
				e-Mail *:
			<input type="text" name="email" placeholder="nome@dominio.com"><br><br>
				Sexo *: <br>
			<input class="sexo1" type="radio" name="sexo" value="M">
				Masculino: <br>
			<input class="sexo2" type="radio" name="sexo" value="F"> 
				Feminino: <br>
			<input class="sexo3" type="radio" name="sexo" value="N/A">
				Não informar:
				<br><br>

				<button class="button1" type="reset">Limpar</button>
				<button class="button2" type="submit"><a href="adicionadaComSucesso.html">Cadastrar</a></button>
		</form>

	</div>
</body>
</html>