<!DOCTYPE html>
<html>
<head>
	<title> Cantadas Idiotas </title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta codigoSecreto="1615216584">
	<link rel="stylesheet" type="text/css"  href="css/estilo.css" />
</head>
<body background="imagens/matrix.jpg" id="fundo">

	<div id="box1">
    	<nav id="menu">
    		<ul>
				<li><a class="active" href="/index.html">Inicio</a></li>
				
				<li><a class="active" href="/Public/noticias.html">Canais de notícias</a></li>
				
	  			<li><a class="active" href="/adicionarPessoa.html">Adicionar pessoa</a></li>
				<li><a class="active" href="/listarPessoas.html">Listar pessoas</a></li>
				
				<li><a class="active" href="/Public/sobre.html">Sobre o site</a></li>
				<li><a class="active" href="/Public/contato.html">Mande um e-mail</a></li>
    		</ul>
		</nav>
	</div>

	<div id="texto">
		
		<h1>Cantadas para tentar conquistar a gata</h1>
		
		<h3> Para aquelas que são fãs de naruto:</h3>
	</div>

	<div id="box2">
		
		<p> 
			<img src="imagens/imgNaruto.jpg" width="500" height="300"> <br><br><br>

			Gata, você não é a tsunade mas é tão linda quanto. <br><br>

			Olá , me chama de raposa de nove caudas e deixa eu entrar em você. <br><br>

			Me chama de Hashirama e deixa eu te meter a madeira. <br><br>

			Você nem é o sasuke, mas eu passaria minha vida toda tentando te encontrar.

		</p>

	</div>

	<div id="sub2">

		<h3>Cantadas idiotas:</h3>

	</div>
		
	<div id="box5">

		<p>
			<img src="imagens/img2.jpg" width="500" height="300"><br><br><br>

			Você é tão linda que parece uma cervejinha trincando.<br><br>

			Gata, me chama de Franklin e Benjamim.<br><br>

			Você nem é uma lazanha , mas é o que mais quero comer. 

		</p>

	</div>

</body>
</html>