<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta codigoSecreto="1615216584">
	<link rel="stylesheet" type="text/css"  href="css/estilo.css" />
</head>
<body background="imagens/matrix.jpg" id="fundo">
	<div>
    	<nav id="menu">
    		<ul>
				<li><a class="active" href="/ ">Inicio</a></li>
				
				<li><a class="active" href="/Public/noticias.html">Canais de notícias</a></li>
				
	  			<li><a class="active" href="/adicionarPessoa.html">Adicionar pessoa</a></li>
				<li><a class="active" href="/listarPessoas.html">Listar pessoas</a></li>
				
				<li><a class="active" href="/Public/sobre.html">Sobre o site</a></li>
				<li><a class="active" href="/Public/contato.html">Mande um e-mail</a></li>
    		</ul>
		</nav>
	</div>

		<h1>Lista de pessoas cadastradas:</h1>
		
		<table border="2" width="700" align="center">
			<thead>
				<tr>
					<td>id</td>
					<td>Nome completo</td>
					<td>Data de nascimento</td>
					<td>e-Mail</td>
					<td>Genero</td>
					<td>Editar</td>
					<td>Remover</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pessoa: ${pessoas}">
					<td th:text="${pessoa.idPessoa}"></td>
					<td th:text="${pessoa.nome}"></td>
					<td>
						<a th:href="'mailto:' +${pessoa.email}"th:text="${pessoa.email}"></a>
					</td>
					<td th:text="${#tempols.format(pessoa.DTnascimento, 'dd/MM/yyyy')}"></td>	
					<td th:text="${pessoa.genero}"></td>
					<td>
						<a th:href="@{/editar/{id}(id=${pessoa.idPessoa})}">Editar</a>
					</td>
					<td>
						<a th:href="@{/remover/{id}(id=${pessoa.idPessoa})}">Remover</a>				
					</td>
				</tr>
			</tbody>
		</table>

	
</body>
</html>